{% extends "app/base.html" %}

{% load i18n %}
{% load widget_tweaks %}

{% block content %}

<div class="card card-profile my-5 mx-auto">
  <div class="card-body">
    <h5 class="card-title text-center">いいね自動実行</h5>
    <form class="login" method="POST" action="{% url 'confirm' %}">
      {% csrf_token %}
      <table class="profile_table mb-4">
        <tbody>
          <tr>
          <th class="header">メールアドレス（インスタグラム）</th>
            <td class="data">
              <input type="email" name="email" autocomplete="email" class="form-control">
            </td>
          </tr>
          <tr>
          <th class="header">パスワード（インスタグラム）</th>
            <td class="data">
              <input type="password" name="password" class="form-control">
            </td>
          </tr>
        </tbody>
      </table>
      {% for error in form.non_field_errors %}
      <ul class="error-message-card">
        <li class="error-message">{{ error }}</li>
      </ul>
      {% endfor %}
      <div class="button mx-auto">
        <button class="btn btn-lg btn-warning btn-block" type="submit">実行</button>
      </div>
    </form>
  </div>
</div>

{% endblock %}