{% extends "app/base.html" %}

{% load i18n %}
{% load widget_tweaks %}

{% block content %}

<div class="card card-profile my-5 mx-auto">
  <div class="card-body">
    <h5 class="card-title text-center">以下の内容で実行しました。</h5>
    <table class="profile_table mb-4">
    <tbody>
        <tr>
        <th class="header">メールアドレス</th>
            <td class="data">
                {{ email }}
            </td>
        </tr>
        <tr>
        <th class="header">パスワード</th>
            <td class="data">
                {{ password }}
            </td>
        </tr>
    </tbody>
    </table> 
    {% for error in form.non_field_errors %}
    <ul class="error-message-card">
    <li class="error-message">{{ error }}</li>
    </ul>
    {% endfor %}
  </div>
</div>

{% endblock %}