{% extends "app/base.html" %}

{% load i18n %}
{% load widget_tweaks %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}

<div class="card card-profile my-5 mx-auto">
  <div class="card-body">
    <h5 class="card-title text-center">パスワード再設定</h5>
    {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
    {% else %}
    <form method="POST" action="{{ action_url }}">
        {% csrf_token %}
        <table class="profile_table mb-4">
          <tbody>
            <tr>
              <th class="header">新しいパスワード</th>
              <td class="data">
                {{ form.password1 | add_class:'form-control' }}
              </td>
            </tr>
            <tr>
                <th class="header">新しいパスワード（再入力）</th>
                <td class="data">
                  {{ form.password2 | add_class:'form-control' }}
                </td>
              </tr>
          </tbody>
        </table>
        <div class="button mx-auto">
            <input class="btn btn-lg btn-warning btn-block" type="submit" name="action" value="{% trans 'change password' %}"/>
        </div>
    </form>
    {% endif %}
  </div>
</div>
{% endblock %}
